@tailwind base;
@tailwind components;
@tailwind utilities;

.ball {
    clip-path: circle(70% at 70% 70%);
    height: 34rem;
    width: 34rem;
    background-color: #14FFEC;
}

.logos {
    bottom: 6rem;
    right: 6rem;
}

.our--main--skills {
    right: 6rem;
    bottom: 10.8rem;
}
